html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Mona Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#map {
    flex-grow: 1;
}

.header {
    background-color: hotpink;
    color: aliceblue;
    overflow: hidden;
    flex-grow: 0;
    padding: 1vw;
    font-family: "Silkscreen", sans-serif;
}
